@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	box-shadow: -8px 8px 58px 0px rgba(0, 0, 0, 0.1);
}
.card {
	transition: height 0.5s ease-in-out;
	will-change: height;
}

.card-text {
	min-width: 236px;
	min-height: 350px;
}

h4 {
	display: flex;
	justify-content: center;
}

ul {
	padding-left: 0px;
}

.li-content {
	border-radius: 4px;
	margin: 14px;
	padding: 10px;
}
