@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	box-shadow: -8px 8px 58px 0px rgba(0, 0, 0, 0.1);
}
.card {
	transition: height 0.5s ease-in-out;
	will-change: height;
}

ul {
	padding-left: 0px;
}

.li-content {
	border-radius: 4px;
	box-shadow: rgba(125, 125, 128, 0.25) 0px 6px 10px -2px;
}
